a.markdown-btn {
  padding: 0.5em 0.6em;
  line-height: 280%;
  background-color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: transform 0.1s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.1s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0 0.2rem 0.3rem 0 rgba(0,0,0,0.1);
}
a.markdown-btn:hover {
  background-color: #daebff;
  box-shadow: 0 0.05rem 0.15rem rgba(0,0,0,0.12), 0 0.05rem 0.1rem rgba(0,0,0,0.24);
  transform: scale(0.97);
}
a.markdown-btn:active {
  transform: scale(1);
}

a.suggested-btn {
  padding: 0.5em 0.6em;
  background-color: #004b81;
  color: #FFF;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: transform 0.1s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.1s cubic-bezier(0.25,0.8,0.25,1);
  box-shadow: 0 0.2rem 0.8rem 0 rgba(0,0,0,0.3);
}
a.suggested-btn:hover {
  background-color: #00538e;
  box-shadow: 0 0.05rem 0.15rem rgba(0,0,0,0.12), 0 0.05rem 0.1rem rgba(0,0,0,0.24);
  transform: scale(0.97);
}
a.suggested-btn:active {
  transform: scale(1);
}